<div class="selling-banner" [style.background-image]="banner">
  <div class="d-flex justify-content-center flex-column">
    <div class="text1">Not selling on Buc&Doe yet?</div>
    <div class="text2">Thousands of shoppers cant wait to see what you have in store.</div>
  </div>
  <div class="text-align-right">
    <span>Signup now</span>
  </div>
</div>
<div class="footer">
  <div class="contact-container">
    <div class="d-flex">
      <!-- About Buck&Doe -->
      <div class="contact-us">
        <div class="heading-3">About Buck&Doe</div>
        <div class="d-flex flex-column content">
          <span>About Us</span>
          <span>Affiliates</span>
          <span>The Blog</span>
          <span>Privacy Policy</span>
          <span>Merchant Agreement</span>
          <span>Terms & Conditions</span>
          <span>Buck&Doe POS</span>
        </div>
      </div>
      <!-- Customer care -->
      <div class="contact-us">
        <div class="heading-3">Customer Care</div>
        <div class="d-flex flex-column content">
          <span>Contact Us</span>
          <span>Shipping Information</span>
          <span>Returns & Exchanges</span>
          <span>Size & Fit Guide</span>
          <span>Gift Cards</span>
          <span>FAQs</span>
          <span>Invite Friends, Get Rs 299</span>
          <span>Our Boutiques</span>
          <span>Designers</span>
          <span>Boutique Login</span>
        </div>
      </div>
      <!-- Contact -->
      <div class="contact-us">
        <div class="heading-3">Contact</div>
        <div class="d-flex flex-column content">
          <span>PHONE: 8889998765</span>
          <span>EMAIL: support@buckndoe.com</span>
          <span>HOURS Mon — Fri, 9am — 8pm</span>
          <span>Sat, 10am — 7pm</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomBar d-flex justify-content-center align-items-center">
    <span class="copyright">© Copyright 2018 - 2019 Buck&Doe, Inc. All Rights Reserved. Made with love in Bangalore</span>
  </div>
</div>